body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ffffff;
	margin: 0px;
	overflow: hidden;
}

#textarea {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 100px;
	right: 0;
	resize: none;
	background: rgba(255, 255, 255, 0.5);

	width:  40%;
	height: 85%;
	font-weight: normal;
}

#x_max {
	margin: 0;
	position: absolute;
	top: 17px;
	left: 50px;

	width: 150%;
	height: 30%;
	font-weight: normal;
}

#x_min {
	margin: 0;
	position: absolute;
	top: 17px;
	left: 50px;

	width: 150%;
	height: 30%;
	font-weight: normal;
}

#y_max {
	margin: 0;
	position: absolute;
	top: 17px;
	left: 50px;

	width: 150%;
	height: 30%;
	font-weight: normal;
}

#y_min {
	margin: 0;
	position: absolute;
	top: 17px;
	left: 50px;

	width: 150%;
	height: 30%;
	font-weight: normal;
}

#z_max {
	margin: 0;
	position: absolute;
	top: 17px;
	left: 50px;

	width: 150%;
	height: 30%;
	font-weight: normal;
}

#z_min {
	margin: 0;
	position: absolute;
	top: 17px;
	left: 50px;

	width: 150%;
	height: 30%;
	font-weight: normal;
}

#grid_resolution {
	margin: 0;
	position: absolute;
	top: 17px;
	left: 115px;

	width: 150%;
	height: 30%;
	font-weight: normal;
}

button.run {
	display: inline;
	position: absolute;
	right: 0;
	bottom: 30px;
}

button.stl {
	display: inline;
	position: absolute;
	right: 140px;
	bottom: 30px;
}

button.change {
	display: inline;
	position: absolute;
	left: 10px;
	top: 450px;
}

select.mode {
	position: absolute;
	right: 245px;
	bottom: 30px;
}

a {
	position: absolute;
	text-decoration: none;
}

h2.header {
	margin: 0;
	left: 10px;
	position: absolute;
	top: 10px;
}

h2.header2 {
	margin: 0;
	left: 10px;
	position: absolute;
	top: 70px;
}

h2.header3 {
	margin: 0;
	left: 10px;
	position: absolute;
	top: 200px;
}

li.link1 {
	position: absolute;
	top: 30px;
}

li.view1 {
	position: absolute;
	top: 80px;
}

li.view2 {
	position: absolute;
	top: 100px;
}

li.view3 {
	position: absolute;
	top: 120px;
}

li.para1 {
	position: absolute;
	top: 210px;
}

li.para2 {
	position: absolute;
	top: 240px;
}

li.para3 {
	position: absolute;
	top: 270px;
}

li.para4 {
	position: absolute;
	top: 300px;
}

li.para5 {
	position: absolute;
	top: 330px;
}

li.para6 {
	position: absolute;
	top: 360px;
}

li.para7 {
	position: absolute;
	top: 390px;
}